In [7]:
import pandas as pd

In [8]:
# ZHVI All Homes (SFR, Condo/Co-op) Time Series ($) (by ZIP code)
csv_home_values = "Resources/Zip_Zhvi_AllHomes.csv"

# Median Sale Price - Seasonally Adjusted ($) (by ZIP code)
csv_home_sales = "Resources/Sale_Prices_Zip.csv"

# Monthly Home Sales (Number, Raw) (by ZIP code)
csv_number_sales = "Resources/Sale_Counts_Zip.csv"

# Foreclosure Resales (%) (by ZIP code)
csv_foreclosure_resales = "Resources/SalesPrevForeclosed_Share_Zip.csv"

home_values = pd.read_csv(csv_home_values, encoding="ISO-8859-1")
home_sales = pd.read_csv(csv_home_sales, encoding="ISO-8859-1")
number_sales = pd.read_csv(csv_number_sales, encoding="ISO-8859-1")
foreclosure_resales = pd.read_csv(csv_foreclosure_resales, encoding="ISO-8859-1")

# Suffixes:
# ZVHI = Zillow Home Value Index ($)
# MSR = Median Sales Price - Seasonally Adjusted ($)
# NS = Number of Sales
# FR = Foreclosure Resales (%)

In [9]:
home_values["2008-Avg_ZHVI"] = home_values.iloc[:, 7:19].mean(axis=1)
home_values["2009-Avg_ZHVI"] = home_values.iloc[:, 19:31].mean(axis=1)
home_values["2010-Avg_ZHVI"] = home_values.iloc[:, 31:43].mean(axis=1)
home_values["2011-Avg_ZHVI"] = home_values.iloc[:, 43:55].mean(axis=1)
home_values["2012-Avg_ZHVI"] = home_values.iloc[:, 55:67].mean(axis=1)
home_values["2013-Avg_ZHVI"] = home_values.iloc[:, 67:79].mean(axis=1)
home_values["2014-Avg_ZHVI"] = home_values.iloc[:, 79:91].mean(axis=1)
home_values["2015-Avg_ZHVI"] = home_values.iloc[:, 91:103].mean(axis=1)
home_values["2016-Avg_ZHVI"] = home_values.iloc[:, 103:115].mean(axis=1)
home_values["2017-Avg_ZHVI"] = home_values.iloc[:, 115:127].mean(axis=1)
home_values["2018-Avg_ZHVI"] = home_values.iloc[:, 127:139].mean(axis=1)
home_values["2019-Avg_ZHVI"] = home_values.iloc[:, 139:150].mean(axis=1)

home_sales["2008-Avg_MSR"] = home_sales.iloc[:, 4:14].mean(axis=1)
home_sales["2009-Avg_MSR"] = home_sales.iloc[:, 14:26].mean(axis=1)
home_sales["2010-Avg_MSR"] = home_sales.iloc[:, 26:38].mean(axis=1)
home_sales["2011-Avg_MSR"] = home_sales.iloc[:, 38:50].mean(axis=1)
home_sales["2012-Avg_MSR"] = home_sales.iloc[:, 50:62].mean(axis=1)
home_sales["2013-Avg_MSR"] = home_sales.iloc[:, 62:74].mean(axis=1)
home_sales["2014-Avg_MSR"] = home_sales.iloc[:, 74:86].mean(axis=1)
home_sales["2015-Avg_MSR"] = home_sales.iloc[:, 86:98].mean(axis=1)
home_sales["2016-Avg_MSR"] = home_sales.iloc[:, 98:110].mean(axis=1)
home_sales["2017-Avg_MSR"] = home_sales.iloc[:, 110:122].mean(axis=1)
home_sales["2018-Avg_MSR"] = home_sales.iloc[:, 122:134].mean(axis=1)
home_sales["2019-Avg_MSR"] = home_sales.iloc[:, 134:145].mean(axis=1)

number_sales["2008-Avg_NS"] = number_sales.iloc[:, 4:14].mean(axis=1)
number_sales["2009-Avg_NS"] = number_sales.iloc[:, 14:26].mean(axis=1)
number_sales["2010-Avg_NS"] = number_sales.iloc[:, 26:38].mean(axis=1)
number_sales["2011-Avg_NS"] = number_sales.iloc[:, 38:50].mean(axis=1)
number_sales["2012-Avg_NS"] = number_sales.iloc[:, 50:62].mean(axis=1)
number_sales["2013-Avg_NS"] = number_sales.iloc[:, 62:74].mean(axis=1)
number_sales["2014-Avg_NS"] = number_sales.iloc[:, 74:86].mean(axis=1)
number_sales["2015-Avg_NS"] = number_sales.iloc[:, 86:98].mean(axis=1)
number_sales["2016-Avg_NS"] = number_sales.iloc[:, 98:110].mean(axis=1)
number_sales["2017-Avg_NS"] = number_sales.iloc[:, 110:122].mean(axis=1)
number_sales["2018-Avg_NS"] = number_sales.iloc[:, 122:134].mean(axis=1)
number_sales["2019-Avg_NS"] = number_sales.iloc[:, 134:145].mean(axis=1)

foreclosure_resales["2008-Avg_FR"] = foreclosure_resales.iloc[:, 4:14].mean(axis=1)
foreclosure_resales["2009-Avg_FR"] = foreclosure_resales.iloc[:, 14:26].mean(axis=1)
foreclosure_resales["2010-Avg_FR"] = foreclosure_resales.iloc[:, 26:38].mean(axis=1)
foreclosure_resales["2011-Avg_FR"] = foreclosure_resales.iloc[:, 38:50].mean(axis=1)
foreclosure_resales["2012-Avg_FR"] = foreclosure_resales.iloc[:, 50:62].mean(axis=1)
foreclosure_resales["2013-Avg_FR"] = foreclosure_resales.iloc[:, 62:74].mean(axis=1)
foreclosure_resales["2014-Avg_FR"] = foreclosure_resales.iloc[:, 74:86].mean(axis=1)
foreclosure_resales["2015-Avg_FR"] = foreclosure_resales.iloc[:, 86:98].mean(axis=1)
foreclosure_resales["2016-Avg_FR"] = foreclosure_resales.iloc[:, 98:110].mean(axis=1)
foreclosure_resales["2017-Avg_FR"] = foreclosure_resales.iloc[:, 110:122].mean(axis=1)
foreclosure_resales["2018-Avg_FR"] = foreclosure_resales.iloc[:, 122:134].mean(axis=1)
foreclosure_resales["2019-Avg_FR"] = foreclosure_resales.iloc[:, 134:145].mean(axis=1)

number_sales.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2010-Avg_NS,2011-Avg_NS,2012-Avg_NS,2013-Avg_NS,2014-Avg_NS,2015-Avg_NS,2016-Avg_NS,2017-Avg_NS,2018-Avg_NS,2019-Avg_NS
0,61639,10025,New York,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.000000,69.500000,62.083333,57.363636
1,84654,60657,Illinois,2,134.0,172.0,143.0,184.0,229.0,162.0,...,109.583333,95.5,111.083333,154.75,149.416667,181.583333,190.333333,213.000000,179.750000,131.090909
2,61637,10023,New York,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,75.600000,75.333333,77.500000,71.909091
3,91982,77494,Texas,4,61.0,77.0,85.0,99.0,122.0,95.0,...,79.833333,98.5,123.416667,165.75,162.416667,161.166667,222.500000,257.666667,253.916667,242.400000
4,84616,60614,Illinois,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215.400000,197.416667,153.000000

In [10]:
# Python Dictionary to translate US States to Two letter codes
# Dictionary obtained from rogerallen (https://gist.github.com/rogerallen/1583593)
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

# Rename StateName columns
home_values = home_values.rename(columns={"RegionName":"ZIP Code",
                                          "2008-01":"2008-01_ZHVI",
                                          "2008-02":"2008-02_ZHVI"})
home_sales = home_sales.rename(columns={"RegionName":"ZIP Code",
                                        "StateName":"State"})
number_sales = number_sales.rename(columns={"RegionName":"ZIP Code",
                                            "StateName":"State",
                                            "seasAdj":"seasAdj_NS"})
foreclosure_resales = foreclosure_resales.rename(columns={"RegionName":"ZIP Code",
                                                          "StateName":"State"})

# Translate states into two letter codes
for index, row in home_sales.iterrows():
    state = home_sales.loc[index, "State"]
    abbr = us_state_abbrev[state]
    home_sales.loc[index, "State"] = abbr
    
for index, row in number_sales.iterrows():
    state = number_sales.loc[index, "State"]
    abbr = us_state_abbrev[state]
    number_sales.loc[index, "State"] = abbr

for index, row in foreclosure_resales.iterrows():
    state = foreclosure_resales.loc[index, "State"]
    abbr = us_state_abbrev[state]
    foreclosure_resales.loc[index, "State"] = abbr

home_sales.head()

,RegionID,ZIP Code,State,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2010-Avg_MSR,2011-Avg_MSR,2012-Avg_MSR,2013-Avg_MSR,2014-Avg_MSR,2015-Avg_MSR,2016-Avg_MSR,2017-Avg_MSR,2018-Avg_MSR,2019-Avg_MSR
0,61639,10025,NY,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.398000e+05,9.872417e+05,1.018808e+06,9.901273e+05
1,84654,60657,IL,2,373100.0,389100.0,390900.0,394600.0,392900.0,378600.0,...,380658.333333,378275.000000,350950.000000,356941.666667,382083.333333,359083.333333,3.246000e+05,3.283250e+05,3.704417e+05,4.097091e+05
2,61637,10023,NY,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.186540e+06,1.179800e+06,1.115458e+06,1.146527e+06
3,91982,77494,TX,4,232200.0,241600.0,243800.0,256600.0,253600.0,257600.0,...,246666.666667,243608.333333,252383.333333,263150.000000,289125.000000,311450.000000,3.171583e+05,3.278000e+05,3.316750e+05,3.250500e+05
4,84616,60614,IL,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.013100e+05,4.334167e+05,5.015000e+05

In [11]:
merge1 = pd.merge(home_values, home_sales, on=["ZIP Code","State","RegionID"], how="outer", suffixes=("_ZHVI", "_MSR"))
merge2 = pd.merge(number_sales, foreclosure_resales, on=["ZIP Code","State","RegionID"], how="outer", suffixes=("_NS", "_FR"))
main_data = pd.merge(merge1, merge2, on=["ZIP Code","State","RegionID"], how="outer")

In [12]:
#main_data.to_csv("Output/main_data.csv", index=False, header=True)

In [139]:
main_data.head()

,RegionID,ZIP Code,City,State,Metro,CountyName,SizeRank_ZHVI,2008-01_ZHVI,2008-02_ZHVI,2008-03_ZHVI,...,2016-Avg_MSR,2017-Avg_MSR,2018-Avg_MSR,2019-Avg_MSR,2008_Avg_ZHVI,2009_Avg_ZHVI,2009_Avg_MSR,2009_Avg_FR,2017_Avg_FR,2019_Avg_NS
0,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1.0,NaN,NaN,NaN,...,4.703947e+05,4.822529e+05,4.887586e+05,4.392596e+05,480193.928571,466041.694444,363608.333333,0.000000,0.004208,131.090909
1,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,2.0,NaN,NaN,NaN,...,1.198658e+06,1.204274e+06,1.215277e+06,1.067218e+06,NaN,833515.733333,NaN,NaN,NaN,71.909091
2,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,3.0,269106.0,268326.0,267699.333333,...,3.313409e+05,3.296781e+05,3.332158e+05,3.035833e+05,267229.242424,267583.416667,233491.666667,0.033700,0.002967,242.400000
3,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4.0,NaN,NaN,NaN,...,6.150151e+05,6.294183e+05,6.362797e+05,5.722148e+05,606664.119048,594972.111111,NaN,NaN,0.002430,153.000000
4,91940,77449,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,5.0,128064.0,127776.0,127537.666667,...,1.642580e+05,1.697939e+05,1.767461e+05,1.665677e+05,125427.727273,119876.111111,NaN,0.227817,0.012083,162.818182

In [140]:
main_data.columns

Index(['RegionID', 'ZIP Code', 'City', 'State', 'Metro', 'CountyName',
       'SizeRank_ZHVI', '2008-01_ZHVI', '2008-02_ZHVI', '2008-03_ZHVI',
       ...
       '2016-Avg_MSR', '2017-Avg_MSR', '2018-Avg_MSR', '2019-Avg_MSR',
       '2008_Avg_ZHVI', '2009_Avg_ZHVI', '2009_Avg_MSR', '2009_Avg_FR',
       '2017_Avg_FR', '2019_Avg_NS'],
      dtype='object', length=607)