In [5]:
import pandas as pd

In [40]:
# ZHVI All Homes (SFR, Condo/Co-op) Time Series ($) (by ZIP code)
csv_home_values = "Resources/Zip_Zhvi_AllHomes.csv"

# Median Sale Price - Seasonally Adjusted ($) (by ZIP code)
csv_home_sales = "Resources/Sale_Prices_Zip.csv"

# Monthly Home Sales (Number, Raw) (by ZIP code)
csv_number_sales = "Resources/Sale_Counts_Zip.csv"

home_values = pd.read_csv(csv_home_values, encoding="ISO-8859-1")
home_sales = pd.read_csv(csv_home_sales, encoding="ISO-8859-1")
number_sales = pd.read_csv(csv_number_sales, encoding="ISO-8859-1")

main_data = pd.merge

home_sales.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
0,61639,10025,New York,1,NaN,NaN,NaN,NaN,NaN,NaN,...,913100.0,1073400.0,1040500.0,1218200.0,1018100.0,1052700.0,862600.0,1005000.0,914700.0,880300.0
1,84654,60657,Illinois,2,373100.0,389100.0,390900.0,394600.0,392900.0,378600.0,...,440800.0,417500.0,377000.0,372500.0,397400.0,419100.0,424200.0,415500.0,400400.0,396300.0
2,61637,10023,New York,3,NaN,NaN,NaN,NaN,NaN,NaN,...,1263400.0,1223400.0,1275300.0,1146200.0,1241400.0,1149000.0,1142300.0,1043800.0,977500.0,1000100.0
3,91982,77494,Texas,4,232200.0,241600.0,243800.0,256600.0,253600.0,257600.0,...,333000.0,328000.0,331000.0,333400.0,329000.0,320400.0,314300.0,316000.0,311600.0,NaN
4,84616,60614,Illinois,5,NaN,NaN,NaN,NaN,NaN,NaN,...,549100.0,528500.0,512600.0,497800.0,485000.0,490500.0,468000.0,474300.0,462300.0,523500.0

In [38]:
# Rename columns
home_values_renamed = home_values.rename(columns={"RegionName":"ZIP Code",
                                                  "CountyName":"County"})
home_values_renamed.head()

,RegionID,ZIP Code,City,State,Metro,County,SizeRank,2008-01,2008-02,2008-03,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
0,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1,NaN,NaN,NaN,...,4.846133e+05,4.844847e+05,4.856167e+05,4.865600e+05,4.858847e+05,4.849017e+05,4.823117e+05,4.800917e+05,4.787937e+05,4.785953e+05
1,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,2,NaN,NaN,NaN,...,1.192562e+06,1.184811e+06,1.182110e+06,1.185962e+06,1.188839e+06,1.181644e+06,1.163996e+06,1.148232e+06,1.148030e+06,1.163213e+06
2,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,3,269106.0,268326.0,267699.333333,...,3.352377e+05,3.350893e+05,3.339180e+05,3.331563e+05,3.325493e+05,3.327513e+05,3.328630e+05,3.339837e+05,3.346290e+05,3.352343e+05
3,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,NaN,NaN,...,6.303370e+05,6.304280e+05,6.328107e+05,6.339393e+05,6.326857e+05,6.306867e+05,6.281890e+05,6.261287e+05,6.251030e+05,6.240497e+05
4,91940,77449,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,5,128064.0,127776.0,127537.666667,...,1.814760e+05,1.818737e+05,1.817140e+05,1.818840e+05,1.823700e+05,1.831330e+05,1.839323e+05,1.843723e+05,1.851663e+05,1.863170e+05

In [34]:
# Calculating average home value per year
home_values_renamed["2008 Avg."] = home_values_renamed[["2008-01","2008-02","2008-03","2008-04","2008-05","2008-06",
                                                        "2008-07","2008-08","2008-09","2008-10","2008-11","2008-12"]].mean(axis=1)
home_values_renamed["2009 Avg."] = home_values_renamed[["2009-01","2009-02","2009-03","2009-04","2009-05","2009-06",
                                                        "2009-07","2009-08","2009-09","2009-10","2009-11","2009-12"]].mean(axis=1)
home_values_renamed["2010 Avg."] = home_values_renamed[["2010-01","2010-02","2010-03","2010-04","2010-05","2010-06",
                                                        "2010-07","2010-08","2010-09","2010-10","2010-11","2010-12"]].mean(axis=1)
home_values_renamed["2011 Avg."] = home_values_renamed[["2011-01","2011-02","2011-03","2011-04","2011-05","2011-06",
                                                        "2011-07","2011-08","2011-09","2011-10","2011-11","2011-12"]].mean(axis=1)
home_values_renamed["2012 Avg."] = home_values_renamed[["2012-01","2012-02","2012-03","2012-04","2012-05","2012-06",
                                                        "2012-07","2012-08","2012-09","2012-10","2012-11","2012-12"]].mean(axis=1)
home_values_renamed["2013 Avg."] = home_values_renamed[["2013-01","2013-02","2013-03","2013-04","2013-05","2013-06",
                                                        "2013-07","2013-08","2013-09","2013-10","2013-11","2013-12"]].mean(axis=1)
home_values_renamed["2014 Avg."] = home_values_renamed[["2014-01","2014-02","2014-03","2014-04","2014-05","2014-06",
                                                        "2014-07","2014-08","2014-09","2014-10","2014-11","2014-12"]].mean(axis=1)
home_values_renamed["2015 Avg."] = home_values_renamed[["2015-01","2015-02","2015-03","2015-04","2015-05","2015-06",
                                                        "2015-07","2015-08","2015-09","2015-10","2015-11","2015-12"]].mean(axis=1)
home_values_renamed["2016 Avg."] = home_values_renamed[["2016-01","2016-02","2016-03","2016-04","2016-05","2016-06",
                                                        "2016-07","2016-08","2016-09","2016-10","2016-11","2016-12"]].mean(axis=1)
home_values_renamed["2017 Avg."] = home_values_renamed[["2017-01","2017-02","2017-03","2017-04","2017-05","2017-06",
                                                        "2017-07","2017-08","2017-09","2017-10","2017-11","2017-12"]].mean(axis=1)
home_values_renamed["2018 Avg."] = home_values_renamed[["2018-01","2018-02","2018-03","2018-04","2018-05","2018-06",
                                                        "2018-07","2018-08","2018-09","2018-10","2018-11","2018-12"]].mean(axis=1)
home_values_renamed["2019 Avg."] = home_values_renamed[["2019-01","2019-02","2019-03","2019-04","2019-05","2019-06",
                                                        "2019-07","2019-08","2019-09","2019-10","2019-11"]].mean(axis=1)

home_values_renamed.head()

,RegionID,ZIP Code,City,State,Metro,County,SizeRank,2008-01,2008-02,2008-03,...,2010 Avg.,2011 Avg.,2012 Avg.,2013 Avg.,2014 Avg.,2015 Avg.,2016 Avg.,2017 Avg.,2018 Avg.,2019 Avg.
0,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1,NaN,NaN,NaN,...,445775.916667,423604.722222,412033.055556,421352.583333,4.435987e+05,4.528587e+05,4.686318e+05,4.814832e+05,4.886200e+05,4.835098e+05
1,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,2,NaN,NaN,NaN,...,836375.277778,858051.166667,888688.861111,949063.444444,1.068758e+06,1.138190e+06,1.197406e+06,1.201872e+06,1.216848e+06,1.176796e+06
2,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,3,269106.0,268326.0,267699.333333,...,274168.222222,266745.861111,271493.027778,290686.722222,3.156699e+05,3.346299e+05,3.319498e+05,3.294792e+05,3.329190e+05,3.340930e+05
3,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,NaN,NaN,...,565302.194444,534765.361111,523258.083333,537427.972222,5.705761e+05,5.916056e+05,6.132054e+05,6.285303e+05,6.361214e+05,6.297365e+05
4,91940,77449,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,5,128064.0,127776.0,127537.666667,...,119721.722222,112142.083333,110622.833333,123323.277778,1.395240e+05,1.541215e+05,1.636677e+05,1.693848e+05,1.760530e+05,1.830033e+05

In [35]:
data_organized = home_values_renamed[["ZIP Code","City","State","Metro","County","2008 Avg.","2009 Avg.",
                                      "2010 Avg.","2011 Avg.","2012 Avg.","2013 Avg.","2014 Avg.","2015 Avg.",
                                      "2016 Avg.","2017 Avg.","2018 Avg.","2019 Avg."]]

data_organized

,ZIP Code,City,State,Metro,County,2008 Avg.,2009 Avg.,2010 Avg.,2011 Avg.,2012 Avg.,2013 Avg.,2014 Avg.,2015 Avg.,2016 Avg.,2017 Avg.,2018 Avg.,2019 Avg.
0,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,479900.645833,466041.694444,445775.916667,423604.722222,412033.055556,421352.583333,4.435987e+05,4.528587e+05,4.686318e+05,4.814832e+05,4.886200e+05,4.835098e+05
1,10023,New York,NY,New York-Newark-Jersey City,New York County,NaN,833515.733333,836375.277778,858051.166667,888688.861111,949063.444444,1.068758e+06,1.138190e+06,1.197406e+06,1.201872e+06,1.216848e+06,1.176796e+06
2,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,267059.388889,267583.416667,274168.222222,266745.861111,271493.027778,290686.722222,3.156699e+05,3.346299e+05,3.319498e+05,3.294792e+05,3.329190e+05,3.340930e+05
3,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,606633.729167,594972.111111,565302.194444,534765.361111,523258.083333,537427.972222,5.705761e+05,5.916056e+05,6.132054e+05,6.285303e+05,6.361214e+05,6.297365e+05
4,77449,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,125067.777778,119876.111111,119721.722222,112142.083333,110622.833333,123323.277778,1.395240e+05,1.541215e+05,1.636677e+05,1.693848e+05,1.760530e+05,1.830033e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20091,74078,Yale,OK,Stillwater,Payne County,NaN,136969.880952,142646.972222,134330.111111,132877.694444,132635.500000,1.328913e+05,1.394991e+05,1.440595e+05,1.502064e+05,1.536291e+05,1.606533e+05
20092,36872,Valley,AL,Valley,Chambers County,NaN,NaN,NaN,NaN,37068.250000,36890.638889,3.628469e+04,3.601314e+04,3.741136e+04,3.914583e+04,3.765425e+04,3.804809e+04
20093,22649,Middletown,VA,Winchester,Frederick County,244541.930556,233091.361111,223417.861111,211464.555556,206203.166667,201181.750000,1.966931e+05,1.942497e+05,1.971996e+05,2.020536e+05,2.090319e+05,2.274954e+05
20094,6230,Pomfret Center,CT,Worcester,Windham County,NaN,NaN,NaN,NaN,NaN,NaN,2.476331e+05,2.367909e+05,2.366661e+05,2.577711e+05,2.634064e+05,2.624040e+05
20095,43738,Fultonham,OH,Zanesville,Muskingum County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.268655e+04,5.467328e+04,5.642091e+04