In [237]:
import pandas as pd
import numpy as np
import re

In [130]:
# ZHVI All Homes (SFR, Condo/Co-op) Time Series ($) (by ZIP code)
csv_home_values = "Resources/Zip_Zhvi_AllHomes.csv"

# Median Sale Price - Seasonally Adjusted ($) (by ZIP code)
csv_home_sales = "Resources/Sale_Prices_Zip.csv"

# Monthly Home Sales (Number, Raw) (by ZIP code)
csv_number_sales = "Resources/Sale_Counts_Zip.csv"

# Foreclosure Resales (%) (by ZIP code)
csv_foreclosure_resales = "Resources/SalesPrevForeclosed_Share_Zip.csv"

home_values = pd.read_csv(csv_home_values, encoding="ISO-8859-1")
home_sales = pd.read_csv(csv_home_sales, encoding="ISO-8859-1")
number_sales = pd.read_csv(csv_number_sales, encoding="ISO-8859-1")
foreclosure_resales = pd.read_csv(csv_foreclosure_resales, encoding="ISO-8859-1")

# Suffixes:
# ZVHI = Zillow Home Value Index ($)
# MSR = Median Sales Price - Seasonally Adjusted ($)
# NS = Number of Sales
# FR = Foreclosure Resales (%)

In [131]:
# Python Dictionary to translate US States to Two letter codes
# Dictionary obtained from rogerallen (https://gist.github.com/rogerallen/1583593)
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

# Rename StateName columns
home_values = home_values.rename(columns={"RegionName":"ZIP Code",
                                          "2008-01":"2008-01_ZHVI",
                                          "2008-02":"2008-02_ZHVI"})
home_sales = home_sales.rename(columns={"RegionName":"ZIP Code",
                                        "StateName":"State"})
number_sales = number_sales.rename(columns={"RegionName":"ZIP Code",
                                            "StateName":"State",
                                            "seasAdj":"seasAdj_NS"})
foreclosure_resales = foreclosure_resales.rename(columns={"RegionName":"ZIP Code",
                                                          "StateName":"State"})

# Translate states into two letter codes
try:
    for index, row in home_sales.iterrows():
        state = home_sales.loc[index, "State"]
        abbr = us_state_abbrev[state]
        home_sales.loc[index, "State"] = abbr

    
    for index, row in number_sales.iterrows():
        state = number_sales.loc[index, "State"]
        abbr = us_state_abbrev[state]
        number_sales.loc[index, "State"] = abbr

    for index, row in foreclosure_resales.iterrows():
        state = foreclosure_resales.loc[index, "State"]
        abbr = us_state_abbrev[state]
        foreclosure_resales.loc[index, "State"] = abbr
except:
    pass

home_values.head()

,RegionID,ZIP Code,City,State,Metro,CountyName,SizeRank,2008-01_ZHVI,2008-02_ZHVI,2008-03,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
0,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1,NaN,NaN,NaN,...,4.846133e+05,4.844847e+05,4.856167e+05,4.865600e+05,4.858847e+05,4.849017e+05,4.823117e+05,4.800917e+05,4.787937e+05,4.785953e+05
1,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,2,NaN,NaN,NaN,...,1.192562e+06,1.184811e+06,1.182110e+06,1.185962e+06,1.188839e+06,1.181644e+06,1.163996e+06,1.148232e+06,1.148030e+06,1.163213e+06
2,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,3,269106.0,268326.0,267699.333333,...,3.352377e+05,3.350893e+05,3.339180e+05,3.331563e+05,3.325493e+05,3.327513e+05,3.328630e+05,3.339837e+05,3.346290e+05,3.352343e+05
3,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,NaN,NaN,...,6.303370e+05,6.304280e+05,6.328107e+05,6.339393e+05,6.326857e+05,6.306867e+05,6.281890e+05,6.261287e+05,6.251030e+05,6.240497e+05
4,91940,77449,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,5,128064.0,127776.0,127537.666667,...,1.814760e+05,1.818737e+05,1.817140e+05,1.818840e+05,1.823700e+05,1.831330e+05,1.839323e+05,1.843723e+05,1.851663e+05,1.863170e+05

In [324]:
#Merge the home_values, home_sales, number_sales and foreclosure_resales
merge1 = pd.merge(home_values, home_sales, on=["ZIP Code","State","RegionID"], how="outer", suffixes=("_ZHVI", "_MSR"))
merge2 = pd.merge(number_sales, foreclosure_resales, on=["ZIP Code","State","RegionID"], how="outer", suffixes=("_NS", "_FR"))
main_data = pd.merge(merge1, merge2, on=["ZIP Code","State","RegionID"], how="outer")

In [133]:
main_data.head()

,RegionID,ZIP Code,City,State,Metro,CountyName,SizeRank_ZHVI,2008-01_ZHVI,2008-02_ZHVI,2008-03_ZHVI,...,2019-02_FR,2019-03_FR,2019-04_FR,2019-05_FR,2019-06_FR,2019-07_FR,2019-08_FR,2019-09_FR,2019-10_FR,2019-11_FR
0,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1.0,NaN,NaN,NaN,...,0.0000,0.0092,0.0064,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,3.0,269106.0,268326.0,267699.333333,...,0.0058,0.0083,0.0072,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4.0,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,91940,77449,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,5.0,128064.0,127776.0,127537.666667,...,0.0000,0.0123,0.0123,0.0181,0.006,NaN,NaN,NaN,NaN,NaN

In [299]:
#Function to get mean of the columns from minimum month and year to maximum month and year with different suffixes
#Used regular expressions
def findavg(data,year,suffix):
    x = []
    for i in data.columns:
        y = (re.findall(f'^{year}-([0-9][0-9])_{suffix}',i))
        [x.append(int(i)) for i in y]
    min_col = data.columns.get_loc(f"{year}-{min(x):02d}_{suffix}")
    max_col = data.columns.get_loc(f"{year}-{max(x):02d}_{suffix}")
    data[f"{year}_Avg_{suffix}"] = data.iloc[:,min_col:max_col+1].mean(axis=1)
    return data[f"{year}_Avg_{suffix}"]

In [300]:
# Grabbed the 'RegionID', 'ZIP Code', 'City', 'State', 'CountyName' columns from main_data
new_main_data = main_data[['RegionID', 'ZIP Code', 'City', 'State', 'CountyName']]
new_main_data.head()

   RegionID  ZIP Code      City State       CountyName
0     84654     60657   Chicago    IL      Cook County
1     61637     10023  New York    NY  New York County
2     91982     77494      Katy    TX    Harris County
3     84616     60614   Chicago    IL      Cook County
4     91940     77449      Katy    TX    Harris County

In [301]:
#Join all indexes across different years to new_main_data
years = [i for i in range(2008,2020,1)]
suffixes = ["ZHVI","MSR","NS","FR"]

for year in years:
    for suffix in suffixes:
        new_main_data = new_main_data.join(findavg(main_data,year,suffix))

In [315]:
new_main_data.head()
#new_main_data.to_csv("Output/main_data.csv", index=False, header=True)

,RegionID,ZIP Code,City,State,CountyName,2008_Avg_ZHVI,2008_Avg_MSR,2008_Avg_NS,2008_Avg_FR,2009_Avg_ZHVI,...,2017_Avg_NS,2017_Avg_FR,2018_Avg_ZHVI,2018_Avg_MSR,2018_Avg_NS,2018_Avg_FR,2019_Avg_ZHVI,2019_Avg_MSR,2019_Avg_NS,2019_Avg_FR
0,84654,60657,Chicago,IL,Cook County,479900.645833,376410.0,146.9,0.00000,466041.694444,...,213.000000,0.004208,4.886200e+05,3.704417e+05,179.750000,0.005367,4.835098e+05,4.097091e+05,131.090909,0.006700
1,61637,10023,New York,NY,New York County,NaN,NaN,NaN,NaN,833515.733333,...,75.333333,NaN,1.216848e+06,1.115458e+06,77.500000,NaN,1.176796e+06,1.146527e+06,71.909091,NaN
2,91982,77494,Katy,TX,Harris County,267059.388889,243020.0,79.2,0.03512,267583.416667,...,257.666667,0.002967,3.329190e+05,3.316750e+05,253.916667,0.001367,3.340930e+05,3.250500e+05,242.400000,0.007025
3,84616,60614,Chicago,IL,Cook County,606633.729167,NaN,NaN,NaN,594972.111111,...,215.400000,0.002430,6.361214e+05,4.334167e+05,197.416667,0.001183,6.297365e+05,5.015000e+05,153.000000,0.006750
4,91940,77449,Katy,TX,Harris County,125067.777778,NaN,125.7,0.24388,119876.111111,...,157.083333,0.012083,1.760530e+05,1.764667e+05,158.083333,0.003492,1.830033e+05,1.878727e+05,162.818182,0.011450

In [303]:
#Group the data by State and get mean acroos different zipcodes
state_data =new_main_data[
                     ['State', '2008_Avg_ZHVI','2009_Avg_ZHVI', '2010_Avg_ZHVI', '2011_Avg_ZHVI',
                      '2012_Avg_ZHVI', '2013_Avg_ZHVI', '2014_Avg_ZHVI', '2015_Avg_ZHVI', '2016_Avg_ZHVI',
                      '2017_Avg_ZHVI', '2018_Avg_ZHVI', '2019_Avg_ZHVI', '2008_Avg_MSR','2009_Avg_MSR', 
                      '2010_Avg_MSR', '2011_Avg_MSR', '2012_Avg_MSR','2013_Avg_MSR', '2014_Avg_MSR', 
                      '2015_Avg_MSR', '2016_Avg_MSR','2017_Avg_MSR', '2018_Avg_MSR', '2019_Avg_MSR', 
                      '2008_Avg_NS','2009_Avg_NS', '2010_Avg_NS', '2011_Avg_NS', '2012_Avg_NS','2013_Avg_NS', 
                      '2014_Avg_NS', '2015_Avg_NS', '2016_Avg_NS','2017_Avg_NS', '2018_Avg_NS', '2019_Avg_NS', 
                      '2008_Avg_FR', '2009_Avg_FR', '2010_Avg_FR', '2011_Avg_FR', '2012_Avg_FR','2013_Avg_FR', 
                      '2014_Avg_FR', '2015_Avg_FR', '2016_Avg_FR','2017_Avg_FR', '2018_Avg_FR', '2019_Avg_FR']
                    ].groupby("State").mean()
state_data.head()

,2008_Avg_ZHVI,2009_Avg_ZHVI,2010_Avg_ZHVI,2011_Avg_ZHVI,2012_Avg_ZHVI,2013_Avg_ZHVI,2014_Avg_ZHVI,2015_Avg_ZHVI,2016_Avg_ZHVI,2017_Avg_ZHVI,...,2010_Avg_FR,2011_Avg_FR,2012_Avg_FR,2013_Avg_FR,2014_Avg_FR,2015_Avg_FR,2016_Avg_FR,2017_Avg_FR,2018_Avg_FR,2019_Avg_FR
State,,,,,,,,,,,,,,,,,,,,,
AK,257757.731674,255277.256173,255265.845679,252652.662037,257154.490616,261483.093559,260587.859272,263911.006225,260905.361420,265698.318409,...,0.017953,0.015444,0.013250,0.015368,0.010808,0.014436,0.007723,0.008110,0.008051,0.015248
AL,142287.102771,137912.212703,132560.954521,127438.048756,124757.877755,124216.831304,123857.456570,126152.310004,126710.281543,129905.843310,...,0.028620,0.024541,0.022358,0.036341,0.038174,0.036396,0.029826,0.024794,0.021197,0.018580
AR,109428.506791,105079.607528,102444.345622,100620.504960,100541.646575,101893.995841,102221.952317,102801.309430,104403.715475,106864.871102,...,0.034028,0.024479,0.011072,0.017768,0.024253,0.012681,0.012304,0.011055,0.011784,0.012021
AZ,257791.880246,222270.168886,208525.831265,192496.057547,192090.256004,210370.328371,219667.363194,224545.767161,235508.485779,245929.407627,...,0.138657,0.132389,0.072265,0.059775,0.046469,0.031105,0.021606,0.016913,0.011268,0.009412
CA,468233.711450,423004.034608,422985.651603,401367.360069,406446.894985,446805.162324,476875.116913,503387.102992,536483.483562,569431.051039,...,0.212939,0.205428,0.145055,0.065362,0.036880,0.028936,0.022030,0.013541,0.009642,0.006600

In [307]:
#Get divorce-rate and convert to dataframe
divorce_csv = "Resources/divorce-rate.xlsx"

divorce_rate = pd.read_excel(csv, encoding="ISO-8859-1")
#Rates are based on provisional counts of divorces by state of occurrence.  
#Rates are per 1,000 total population residing in area. 
#Population enumerated as of April 1 for 1990, 2000, and 2010 and estimated as of July 1 for all other years
#Source: CDC/NCHS, National Vital Statistics System.

In [308]:
try:
    for index, row in divorce_rate.iterrows():
        state = divorce_rate.loc[index, "State"]
        abbr = us_state_abbrev[state]
        divorce_rate.loc[index, "State"] = abbr

except:
    pass
divorce_rate = divorce_rate.set_index("State")
years = [i for i in range(2008,2020,1)]
new_divorce = divorce_rate[years[0:-1]]
[new_divorce.rename(columns = {i:f"{i}_Div Rate"}, inplace = True) \
             for i in range(2008,2020,1)]
new_divorce = new_divorce.replace("---",np.nan)

In [309]:
merge = state_data.join(new_divorce, on="State")
# for index, row in new_merge.iterrows():
#         nc = new_merge.loc["NC", :]

In [310]:
merge[["2018_Avg_ZHVI", "2018_Avg_NS", "2018_Avg_ZHVI", "2018_Avg_MSR", "2018_Avg_FR", "2018_Div Rate"]].corr()

,2018_Avg_ZHVI,2018_Avg_NS,2018_Avg_ZHVI,2018_Avg_MSR,2018_Avg_FR,2018_Div Rate
2018_Avg_ZHVI,1.000000,0.456000,1.000000,0.972145,0.023705,-0.046551
2018_Avg_NS,0.456000,1.000000,0.456000,0.385747,0.096901,0.110624
2018_Avg_ZHVI,1.000000,0.456000,1.000000,0.972145,0.023705,-0.046551
2018_Avg_MSR,0.972145,0.385747,0.972145,1.000000,-0.061005,-0.072662
2018_Avg_FR,0.023705,0.096901,0.023705,-0.061005,1.000000,-0.203831
2018_Div Rate,-0.046551,0.110624,-0.046551,-0.072662,-0.203831,1.000000

In [323]:
unemployment_csv = "Resources/Cleaned_BLS_Unemployment-Rate-by-State_2008-2019_1-11-2020.csv"

unemployment_data = pd.read_csv(unemployment_csv, encoding="ISO-8859-1")
unemployment_data = unemployment_data.rename(columns={"State Abbreviation":"State"}).set_index("State")
unemployment_data.head()

,Data,Series Id,Adjusted?,Area,Area Type,State/Region/Division,Measure,Years,2008,2009,...,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116
State,,,,,,,,,,,,,,,,,,,,,
AL,Local Area Unemployment Statistics,LASST010000000000003,Seasonally Adjusted,Alabama,Statewide,Alabama,unemployment rate,2008 to 2019,5.72,10.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AK,Local Area Unemployment Statistics,LASST020000000000003,Seasonally Adjusted,Alaska,Statewide,Alaska,unemployment rate,2008 to 2019,6.71,7.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZ,Local Area Unemployment Statistics,LASST040000000000003,Seasonally Adjusted,Arizona,Statewide,Arizona,unemployment rate,2008 to 2019,6.14,9.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AR,Local Area Unemployment Statistics,LASST050000000000003,Seasonally Adjusted,Arkansas,Statewide,Arkansas,unemployment rate,2008 to 2019,5.50,7.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CA,Local Area Unemployment Statistics,LASST060000000000003,Seasonally Adjusted,California,Statewide,California,unemployment rate,2008 to 2019,7.29,11.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [320]:
unemployment_data = unemployment_data[[str(i) for i in range(2008,2020,1)]]
for i in range(2008,2020,1):
    unemployment_data = unemployment_data.rename(columns={str(i):f"{i}_unemployment"})
unemployment_data.head()

,2008_unemployment,2009_unemployment,2010_unemployment,2011_unemployment,2012_unemployment,2013_unemployment,2014_unemployment,2015_unemployment,2016_unemployment,2017_unemployment,2018_unemployment,2019_unemployment
State,,,,,,,,,,,,
AL,5.72,10.99,10.54,9.62,7.98,7.22,6.76,6.08,5.85,4.43,3.94,3.37
AK,6.71,7.73,7.88,7.57,7.13,7.00,6.87,6.53,6.85,6.94,6.60,6.35
AZ,6.14,9.93,10.35,9.50,8.33,7.74,6.80,6.05,5.40,4.89,4.80,4.93
AR,5.50,7.83,8.19,8.29,7.58,7.22,6.02,5.03,3.95,3.71,3.70,3.57
CA,7.29,11.14,12.23,11.71,10.38,8.94,7.50,6.20,5.48,4.78,4.19,4.13

In [327]:
biggest_data = merge.join(unemployment_data, on="State").round(2)
biggest_data.head()

,2008_Avg_ZHVI,2009_Avg_ZHVI,2010_Avg_ZHVI,2011_Avg_ZHVI,2012_Avg_ZHVI,2013_Avg_ZHVI,2014_Avg_ZHVI,2015_Avg_ZHVI,2016_Avg_ZHVI,2017_Avg_ZHVI,...,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116
State,,,,,,,,,,,,,,,,,,,,,
AK,257757.73,255277.26,255265.85,252652.66,257154.49,261483.09,260587.86,263911.01,260905.36,265698.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AL,142287.10,137912.21,132560.95,127438.05,124757.88,124216.83,123857.46,126152.31,126710.28,129905.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AR,109428.51,105079.61,102444.35,100620.50,100541.65,101894.00,102221.95,102801.31,104403.72,106864.87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZ,257791.88,222270.17,208525.83,192496.06,192090.26,210370.33,219667.36,224545.77,235508.49,245929.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CA,468233.71,423004.03,422985.65,401367.36,406446.89,446805.16,476875.12,503387.10,536483.48,569431.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [328]:
biggest_data.to_csv("Output/new_main_data.csv", index=True, header=True)

In [326]:
biggest_data.round(2)

,2008_Avg_ZHVI,2009_Avg_ZHVI,2010_Avg_ZHVI,2011_Avg_ZHVI,2012_Avg_ZHVI,2013_Avg_ZHVI,2014_Avg_ZHVI,2015_Avg_ZHVI,2016_Avg_ZHVI,2017_Avg_ZHVI,...,2010_unemployment,2011_unemployment,2012_unemployment,2013_unemployment,2014_unemployment,2015_unemployment,2016_unemployment,2017_unemployment,2018_unemployment,2019_unemployment
State,,,,,,,,,,,,,,,,,,,,,
AK,257757.73,255277.26,255265.85,252652.66,257154.49,261483.09,260587.86,263911.01,260905.36,265698.32,...,7.88,7.57,7.13,7.00,6.87,6.53,6.85,6.94,6.60,6.35
AL,142287.10,137912.21,132560.95,127438.05,124757.88,124216.83,123857.46,126152.31,126710.28,129905.84,...,10.54,9.62,7.98,7.22,6.76,6.08,5.85,4.43,3.94,3.37
AR,109428.51,105079.61,102444.35,100620.50,100541.65,101894.00,102221.95,102801.31,104403.72,106864.87,...,8.19,8.29,7.58,7.22,6.02,5.03,3.95,3.71,3.70,3.57
AZ,257791.88,222270.17,208525.83,192496.06,192090.26,210370.33,219667.36,224545.77,235508.49,245929.41,...,10.35,9.50,8.33,7.74,6.80,6.05,5.40,4.89,4.80,4.93
CA,468233.71,423004.03,422985.65,401367.36,406446.89,446805.16,476875.12,503387.10,536483.48,569431.05,...,12.23,11.71,10.38,8.94,7.50,6.20,5.48,4.78,4.19,4.13
CO,253618.98,245395.78,241199.47,237452.88,239758.26,255112.32,270234.28,292758.44,313756.49,331518.95,...,8.73,8.36,7.89,6.85,4.99,3.84,3.22,2.70,3.25,3.09
CT,347249.22,323905.39,313118.01,300227.80,288950.20,293717.92,294941.32,295011.95,298319.43,301334.04,...,9.13,8.83,8.35,7.81,6.63,5.73,5.16,4.70,4.12,3.72
DC,483599.19,458940.07,459613.42,459278.67,467900.16,506845.48,544902.23,563037.73,584612.03,609986.67,...,9.41,10.16,9.04,8.49,7.77,6.88,6.10,6.06,5.56,5.51
DE,300988.79,281541.65,272534.59,256029.80,248251.03,249140.89,258817.41,263802.46,270780.88,275315.41,...,8.42,7.50,7.21,6.69,5.72,4.85,4.52,4.48,3.78,3.41
FL,217942.69,187828.21,176393.56,164023.68,164577.96,180208.16,196303.82,212094.35,227251.04,240771.92,...,11.03,9.99,8.48,7.23,6.28,5.44,4.82,4.20,3.56,3.35
GA,173790.70,161387.79,151266.06,140202.11,137011.42,143007.24,154108.98,161715.42,170212.64,178582.08,...,10.49,10.23,9.19,8.20,7.10,5.97,5.37,4.68,3.93,3.66
HI,591893.61,563030.80,552678.43,525001.03,514123.56,520677.17,540035.69,559843.94,580662.90,607022.82,...,6.95,6.80,6.01,4.88,4.36,3.57,2.95,2.42,2.44,2.74
IA,133499.25,132204.31,130146.43,127232.15,127070.00,126876.38,126363.27,127200.30,130324.45,134167.88,...,6.01,5.53,5.03,4.73,4.24,3.78,3.58,3.09,2.53,2.46
ID,202895.82,190033.46,175826.78,160282.06,162798.42,170566.93,176951.22,185195.72,197658.51,212604.98,...,8.97,8.32,7.20,6.12,4.83,4.23,3.80,3.23,2.84,2.86
IL,185279.54,172871.79,166078.66,160941.30,156397.42,159461.21,164184.87,165626.16,168278.19,171897.88,...,10.37,9.69,8.99,9.04,7.10,5.96,5.81,4.91,4.28,4.17
IN,119905.88,116068.62,114085.42,111627.88,111895.56,113663.26,116166.64,120847.97,123874.73,129804.64,...,10.34,9.11,8.35,7.63,5.96,4.83,4.43,3.54,3.45,3.42
KS,145180.18,141794.80,139609.49,135899.15,135413.36,137087.70,138301.53,139853.44,139656.04,141219.93,...,7.06,6.49,5.73,5.31,4.53,4.15,4.03,3.66,3.35,3.33
KY,126432.44,119893.00,114740.42,107916.67,102289.70,102090.49,100119.52,102113.23,104387.59,105538.71,...,10.17,9.38,8.17,8.02,6.46,5.28,5.14,4.91,4.34,4.20
LA,151377.55,149277.61,147012.81,142501.38,143311.61,144643.28,146715.99,151109.71,155370.54,156814.54,...,7.95,7.83,7.09,6.68,6.37,6.32,6.07,5.13,4.88,4.53
MA,386248.00,364574.60,365931.21,354749.99,349036.32,366042.82,385413.36,403680.00,414750.04,430517.71,...,8.29,7.24,6.66,6.72,5.75,4.80,3.88,3.76,3.35,2.95
MD,353503.66,319818.08,303927.05,293501.67,286751.73,295964.02,304431.46,305692.80,308861.77,318140.82,...,7.65,7.25,6.97,6.57,5.82,5.08,4.44,4.24,3.93,3.74
ME,234211.15,220898.42,217096.71,207235.43,210055.88,209956.08,209074.63,205497.56,203788.39,209451.04,...,8.13,7.89,7.47,6.65,5.61,4.38,3.78,3.40,3.38,3.15
MI,154287.39,139393.42,132359.90,128268.68,128637.14,136598.95,145025.84,150434.15,155806.27,164150.67,...,12.58,10.39,9.13,8.78,7.23,5.41,5.00,4.59,4.13,4.12
MN,196946.74,182382.09,175702.99,166277.28,164081.88,173239.85,181563.74,184394.70,190877.03,201408.65,...,7.39,6.49,5.61,4.96,4.16,3.68,3.87,3.41,2.91,3.24
MO,142049.41,135569.68,132161.60,125656.78,122425.33,122294.55,123881.16,127014.49,131050.98,135672.39,...,9.58,8.49,6.98,6.73,6.13,4.98,4.58,3.76,3.18,3.22
MS,118782.22,115242.92,112245.33,109144.04,107339.90,104701.82,103602.25,104237.24,107527.82,110019.21,...,10.36,9.98,9.00,8.53,7.49,6.38,5.83,5.10,4.77,5.10
MT,249085.83,229901.18,217305.68,210999.20,210743.83,216490.37,225810.41,227911.80,229226.80,238157.76,...,7.30,6.94,5.98,5.41,4.66,4.19,4.13,3.94,3.72,3.54
NC,182419.45,173986.06,166381.11,158529.71,154408.42,155094.55,158913.15,161927.15,167188.15,174604.25,...,10.82,10.27,9.29,7.96,6.32,5.72,5.08,4.48,3.89,4.03
ND,134917.45,134971.88,134141.33,131628.87,137667.47,152007.81,155455.86,156547.14,161123.08,161621.09,...,3.78,3.47,3.07,2.92,2.67,2.79,3.09,2.67,2.63,2.40
NE,134447.00,133258.08,132069.10,128367.34,127995.44,130834.79,132531.23,134705.21,137373.73,142928.25,...,4.63,4.39,4.02,3.77,3.27,2.99,3.07,2.88,2.79,2.98
NH,257838.88,240007.57,233480.33,229944.47,223986.51,230441.83,237634.44,244674.07,252459.55,264382.57,...,5.83,5.41,5.48,5.08,4.28,3.36,2.87,2.73,2.53,2.47
NJ,420846.99,391781.09,380716.98,361595.33,349549.49,354848.03,366802.37,368908.90,370147.75,376508.54,...,9.53,9.34,9.33,8.24,6.74,5.78,4.98,4.62,4.14,3.59
NM,216786.43,203819.22,199047.55,185492.53,181806.54,181872.02,181819.09,177093.51,179636.44,184753.33,...,8.10,7.52,7.12,6.94,6.68,6.51,6.62,5.85,4.94,4.95
NV,321440.87,246297.40,223295.24,203158.48,201760.42,214414.44,236529.62,248118.78,264579.04,284029.57,...,13.50,13.02,11.19,9.63,7.92,6.76,5.73,5.05,4.56,4.12
NY,278298.56,268552.77,263891.13,259738.74,255804.06,260552.21,271670.38,280099.19,286061.26,295582.16,...,8.59,8.30,8.52,7.71,6.33,5.26,4.85,4.68,4.11,3.95
OH,133636.93,127641.60,124746.58,119969.76,117288.57,117750.38,119734.69,123055.85,126759.54,133836.77,...,10.24,8.85,7.41,7.43,5.80,4.91,5.04,4.97,4.58,4.25
OK,91234.20,91641.63,92305.83,90900.61,91799.83,94012.01,97059.88,99712.92,102466.15,105080.47,...,6.78,5.88,5.27,5.28,4.51,4.39,4.81,4.24,3.38,3.25
OR,277968.81,253679.80,239686.22,223073.39,221452.26,235126.53,250320.18,263755.52,286501.08,303051.66,...,10.61,9.50,8.83,7.88,6.77,5.58,4.81,4.12,4.13,4.15
PA,194189.89,186586.36,182966.63,174480.96,170260.41,171315.46,173318.15,174424.32,175179.24,178905.05,...,8.43,7.93,7.83,7.34,5.88,5.28,5.39,4.88,4.29,3.97
RI,329324.44,297156.94,290077.37,277716.72,266938.62,272297.74,279519.63,282854.61,294556.29,308268.46,...,11.20,11.03,10.39,9.27,7.69,6.00,5.19,4.42,4.06,3.67
SC,170175.36,160558.89,154761.00,146826.76,143731.29,146112.06,150634.70,155673.89,164018.42,171550.69,...,11.13,10.54,9.20,7.62,6.46,5.97,5.03,4.27,3.41,3.14
SD,156898.71,151443.45,146933.07,146182.58,144129.31,147029.15,149280.72,150171.48,150817.42,155152.63,...,4.98,4.73,4.27,3.78,3.41,3.10,2.98,3.18,3.01,2.92
TN,131593.60,127362.25,125065.35,121793.27,121162.54,124482.44,128973.50,133698.52,141377.94,150917.90,...,9.63,8.97,7.83,7.73,6.60,5.60,4.73,3.75,3.49,3.34
TX,146905.40,143781.68,142257.74,138610.35,139634.05,147456.30,157606.83,167257.10,176284.34,185057.71,...,8.13,7.76,6.74,6.25,5.12,4.43,4.63,4.33,3.85,3.55
UT,231791.72,211118.05,199029.82,187460.28,187268.98,206697.63,214883.21,222939.47,237622.02,254587.57,...,7.83,6.75,5.40,4.59,3.82,3.60,3.43,3.26,3.13,2.81
VA,255999.79,240361.18,236692.84,230402.52,228276.31,233481.81,237326.45,239143.27,242362.59,249300.92,...,7.13,6.59,6.06,5.70,5.23,4.46,4.10,3.70,2.98,2.82
VT,217501.13,212238.70,213421.97,216194.95,216710.58,216755.74,215585.72,217010.57,216684.69,219704.99,...,6.08,5.47,4.93,4.41,3.93,3.57,3.23,2.98,2.66,2.23
WA,301549.57,274495.12,262043.95,241961.65,235502.21,252028.23,267069.01,286110.89,310317.60,339948.76,...,9.99,9.28,8.11,7.03,6.13,5.64,5.28,4.71,4.48,4.56
WI,167285.19,162691.21,159014.69,152998.80,150166.31,154355.12,157832.08,161453.75,167181.79,176529.49,...,8.64,7.76,7.03,6.70,5.40,4.53,4.02,3.27,3.00,3.02
WV,105932.95,102891.73,103329.65,98392.59,96010.12,95029.84,93818.41,88433.68,88496.26,88742.71,...,8.63,8.06,7.49,6.79,6.63,6.74,6.08,5.19,5.23,4.87
WY,199333.11,197224.55,205000.47,210557.32,219904.96,224617.72,229528.93,236976.38,243227.08,243749.28,...,6.45,5.79,5.31,4.72,4.13,4.33,5.33,4.18,4.08,3.71