In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import gmaps
import numpy as np
import re
import requests
import json
import time



from config import gkey
gmaps.configure(api_key=gkey)

ModuleNotFoundError: No module named 'gmaps'

In [2]:
# ZHVI All Homes (SFR, Condo/Co-op) Time Series ($) (by ZIP code)
csv_home_values = "Resources/Zip_Zhvi_AllHomes.csv"

# Median Sale Price - Seasonally Adjusted ($) (by ZIP code)
csv_home_sales = "Resources/Sale_Prices_Zip.csv"

# Monthly Home Sales (Number, Raw) (by ZIP code)
csv_number_sales = "Resources/Sale_Counts_Zip.csv"

# Foreclosure Resales (%) (by ZIP code)
csv_foreclosure_resales = "Resources/SalesPrevForeclosed_Share_Zip.csv"

# Unemployment data
csv_unemployment = "Resources/Cleaned_BLS_Unemployment-Rate-by-State_2008-2019_1-11-2020.csv"

home_values = pd.read_csv(csv_home_values, encoding="ISO-8859-1")
home_sales = pd.read_csv(csv_home_sales, encoding="ISO-8859-1")
number_sales = pd.read_csv(csv_number_sales, encoding="ISO-8859-1")
foreclosure_resales = pd.read_csv(csv_foreclosure_resales, encoding="ISO-8859-1")
unemployment = pd.read_csv(csv_unemployment)

# Suffixes:
# ZVHI = Zillow Home Value Index ($)
# MSR = Median Sales Price - Seasonally Adjusted ($)
# NS = Number of Sales
# FR = Foreclosure Resales (%)
# UNEMP = Unemployment

In [4]:
# Python Dictionary to translate US States to Two letter codes
# Dictionary obtained from rogerallen (https://gist.github.com/rogerallen/1583593)
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

# Rename StateName columns
home_values = home_values.rename(columns={"RegionName":"ZIP Code",
                                          "2008-01":"2008-01_ZHVI",
                                          "2008-02":"2008-02_ZHVI"})
home_sales = home_sales.rename(columns={"RegionName":"ZIP Code",
                                        "StateName":"State"})
number_sales = number_sales.rename(columns={"RegionName":"ZIP Code",
                                            "StateName":"State",
                                            "seasAdj":"seasAdj_NS"})
foreclosure_resales = foreclosure_resales.rename(columns={"RegionName":"ZIP Code",
                                                          "StateName":"State"})
unemployment = unemployment.rename(columns={"State Abbreviation":"State"})

# Drop columns
unemployment.drop(columns=["Data", "Series Id", "Adjusted?", "Area",
                           "Area Type", "State/Region/Division", "Measure", "Years"])

# Translate states into two letter codes
try:
    for index, row in home_sales.iterrows():
        state = home_sales.loc[index, "State"]
        abbr = us_state_abbrev[state]
        home_sales.loc[index, "State"] = abbr

    for index, row in number_sales.iterrows():
        state = number_sales.loc[index, "State"]
        abbr = us_state_abbrev[state]
        number_sales.loc[index, "State"] = abbr

    for index, row in foreclosure_resales.iterrows():
        state = foreclosure_resales.loc[index, "State"]
        abbr = us_state_abbrev[state]
        foreclosure_resales.loc[index, "State"] = abbr
except:
    pass

home_values.head()

,RegionID,ZIP Code,City,State,Metro,CountyName,SizeRank,2008-01_ZHVI,2008-02_ZHVI,2008-03,...,2010-Avg_ZHVI,2011-Avg_ZHVI,2012-Avg_ZHVI,2013-Avg_ZHVI,2014-Avg_ZHVI,2015-Avg_ZHVI,2016-Avg_ZHVI,2017-Avg_ZHVI,2018-Avg_ZHVI,2019-Avg_ZHVI
0,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1,NaN,NaN,NaN,...,445775.916667,423604.722222,412033.055556,421352.583333,4.435987e+05,4.528587e+05,4.686318e+05,4.814832e+05,4.886200e+05,4.835098e+05
1,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,2,NaN,NaN,NaN,...,836375.277778,858051.166667,888688.861111,949063.444444,1.068758e+06,1.138190e+06,1.197406e+06,1.201872e+06,1.216848e+06,1.176796e+06
2,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,3,269106.0,268326.0,267699.333333,...,274168.222222,266745.861111,271493.027778,290686.722222,3.156699e+05,3.346299e+05,3.319498e+05,3.294792e+05,3.329190e+05,3.340930e+05
3,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,NaN,NaN,...,565302.194444,534765.361111,523258.083333,537427.972222,5.705761e+05,5.916056e+05,6.132054e+05,6.285303e+05,6.361214e+05,6.297365e+05
4,91940,77449,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,5,128064.0,127776.0,127537.666667,...,119721.722222,112142.083333,110622.833333,123323.277778,1.395240e+05,1.541215e+05,1.636677e+05,1.693848e+05,1.760530e+05,1.830033e+05

In [5]:
#Merge the home_values, home_sales, number_sales and foreclosure_resales
merge1 = pd.merge(home_values, home_sales, on=["ZIP Code","State","RegionID"], how="outer", suffixes=("_ZHVI", "_MSR"))
merge2 = pd.merge(number_sales, foreclosure_resales, on=["ZIP Code","State","RegionID"], how="outer", suffixes=("_NS", "_FR"))
main_data = pd.merge(merge1, merge2, on=["ZIP Code","State","RegionID"], how="outer")

In [6]:
main_data.head()

,RegionID,ZIP Code,City,State,Metro,CountyName,SizeRank_ZHVI,2008-01_ZHVI,2008-02_ZHVI,2008-03_ZHVI,...,2010-Avg_FR,2011-Avg_FR,2012-Avg_FR,2013-Avg_FR,2014-Avg_FR,2015-Avg_FR,2016-Avg_FR,2017-Avg_FR,2018-Avg_FR,2019-Avg_FR
0,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1.0,NaN,NaN,NaN,...,0.000633,0.000550,0.001392,0.025442,0.016950,0.003683,0.005017,0.004208,0.005367,0.006700
1,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,3.0,269106.0,268326.0,267699.333333,...,0.038658,0.029625,0.029517,0.010633,0.004033,0.002458,0.003492,0.002967,0.001367,0.007025
3,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002430,0.001183,0.006750
4,91940,77449,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,5.0,128064.0,127776.0,127537.666667,...,0.235167,0.206533,0.189350,0.055933,0.031283,0.013625,0.013442,0.012083,0.003492,0.011450

In [7]:
#Function to get mean of the columns from minimum month and year to maximum month and year with different suffixes
#Used regular expressions
def findavg(data,year,suffix):
    x = []
    for i in data.columns:
        y = (re.findall(f'^{year}-([0-9][0-9])_{suffix}',i))
        [x.append(int(i)) for i in y]
    min_col = data.columns.get_loc(f"{year}-{min(x):02d}_{suffix}")
    max_col = data.columns.get_loc(f"{year}-{max(x):02d}_{suffix}")
    data[f"{year}_Avg_{suffix}"] = data.iloc[:,min_col:max_col+1].mean(axis=1)
    return data[f"{year}_Avg_{suffix}"]

In [8]:
# Grabbed the 'RegionID', 'ZIP Code', 'City', 'State', 'CountyName' columns from main_data
new_main_data = main_data[['RegionID', 'ZIP Code', 'City', 'State', 'CountyName']]

new_main_data.head()

   RegionID  ZIP Code      City State       CountyName
0     84654     60657   Chicago    IL      Cook County
1     61637     10023  New York    NY  New York County
2     91982     77494      Katy    TX    Harris County
3     84616     60614   Chicago    IL      Cook County
4     91940     77449      Katy    TX    Harris County

In [9]:
#Join all indexes across different years to new_main_data
years = [i for i in range(2008,2020,1)]
suffixes = ["ZHVI","MSR","NS","FR"]

for year in years:
    for suffix in suffixes:
        new_main_data = new_main_data.join(findavg(main_data,year,suffix))

In [10]:
new_main_data.head()
new_main_data.to_csv("Output/main_data.csv", index=False, header=True)

In [11]:
#Group the data by State and get mean acroos different zipcodes
state_data =new_main_data[
                     ['State', '2008_Avg_ZHVI','2009_Avg_ZHVI', '2010_Avg_ZHVI', '2011_Avg_ZHVI',
                      '2012_Avg_ZHVI', '2013_Avg_ZHVI', '2014_Avg_ZHVI', '2015_Avg_ZHVI', '2016_Avg_ZHVI',
                      '2017_Avg_ZHVI', '2018_Avg_ZHVI', '2019_Avg_ZHVI', '2008_Avg_MSR','2009_Avg_MSR', 
                      '2010_Avg_MSR', '2011_Avg_MSR', '2012_Avg_MSR','2013_Avg_MSR', '2014_Avg_MSR', 
                      '2015_Avg_MSR', '2016_Avg_MSR','2017_Avg_MSR', '2018_Avg_MSR', '2019_Avg_MSR', 
                      '2008_Avg_NS','2009_Avg_NS', '2010_Avg_NS', '2011_Avg_NS', '2012_Avg_NS','2013_Avg_NS', 
                      '2014_Avg_NS', '2015_Avg_NS', '2016_Avg_NS','2017_Avg_NS', '2018_Avg_NS', '2019_Avg_NS', 
                      '2008_Avg_FR', '2009_Avg_FR', '2010_Avg_FR', '2011_Avg_FR', '2012_Avg_FR','2013_Avg_FR', 
                      '2014_Avg_FR', '2015_Avg_FR', '2016_Avg_FR','2017_Avg_FR', '2018_Avg_FR', '2019_Avg_FR']
                    ].groupby("State").mean()
state_data.head()

,2008_Avg_ZHVI,2009_Avg_ZHVI,2010_Avg_ZHVI,2011_Avg_ZHVI,2012_Avg_ZHVI,2013_Avg_ZHVI,2014_Avg_ZHVI,2015_Avg_ZHVI,2016_Avg_ZHVI,2017_Avg_ZHVI,...,2010_Avg_FR,2011_Avg_FR,2012_Avg_FR,2013_Avg_FR,2014_Avg_FR,2015_Avg_FR,2016_Avg_FR,2017_Avg_FR,2018_Avg_FR,2019_Avg_FR
State,,,,,,,,,,,,,,,,,,,,,
AK,257757.731674,255277.256173,255265.845679,252652.662037,257154.490616,261483.093559,260587.859272,263911.006225,260905.361420,265698.318409,...,0.017953,0.015444,0.013250,0.015368,0.010808,0.014436,0.007723,0.008110,0.008051,0.015248
AL,142287.102771,137912.212703,132560.954521,127438.048756,124757.877755,124216.831304,123857.456570,126152.310004,126710.281543,129905.843310,...,0.028620,0.024541,0.022358,0.036341,0.038174,0.036396,0.029826,0.024794,0.021197,0.018580
AR,109428.506791,105079.607528,102444.345622,100620.504960,100541.646575,101893.995841,102221.952317,102801.309430,104403.715475,106864.871102,...,0.034028,0.024479,0.011072,0.017768,0.024253,0.012681,0.012304,0.011055,0.011784,0.012021
AZ,257791.880246,222270.168886,208525.831265,192496.057547,192090.256004,210370.328371,219667.363194,224545.767161,235508.485779,245929.407627,...,0.138657,0.132389,0.072265,0.059775,0.046469,0.031105,0.021606,0.016913,0.011268,0.009412
CA,468233.711450,423004.034608,422985.651603,401367.360069,406446.894985,446805.162324,476875.116913,503387.102992,536483.483562,569431.051039,...,0.212939,0.205428,0.145055,0.065362,0.036880,0.028936,0.022030,0.013541,0.009642,0.006600

In [13]:
state_data["%Increase/Decrease_ZHVI"] = ((state_data["2019_Avg_ZHVI"] - state_data["2008_Avg_ZHVI"])/state_data["2008_Avg_ZHVI"]) * 100
state_data["%Increase/Decrease_MSR"] = ((state_data["2019_Avg_MSR"] - state_data["2008_Avg_MSR"])/state_data["2008_Avg_MSR"]) * 100
state_data["%Increase/Decrease_NS"] = ((state_data["2019_Avg_NS"] - state_data["2008_Avg_NS"])/state_data["2008_Avg_NS"]) * 100
state_data["%Increase/Decrease_FR"] = ((state_data["2019_Avg_FR"] - state_data["2008_Avg_FR"])/state_data["2008_Avg_FR"]) * 100

In [14]:
sorted_msr_highest = state_data["%Increase/Decrease_MSR"].sort_values(ascending=False)
top_states_msr = sorted_msr_highest.head(5)
top_states_msr = top_states_msr.to_frame()
top_states_msr

sorted_msr_lowest = state_data["%Increase/Decrease_MSR"].sort_values()
bottom_states_msr = sorted_msr_lowest.head(5)
bottom_states_msr = bottom_states_msr.to_frame()
top_states_msr

       %Increase/Decrease_MSR
State
CO                  80.912040
DC                  60.894354
WA                  55.480766
MT                  51.925500
CA                  51.640165

In [ ]:
# Add column with full state name to run through gmaps API
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))
abbrev_us_state

for index, row in state_data.iterrows():
    abbr = index
    state = abbrev_us_state[abbr]
    state_data.loc[index, "State Name"] = state
    
state_data.head()

In [54]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json"

params = {
    "key": gkey
}

for index, row in state_data.iterrows():
        state = row["State Name"]
        params["address"] = state
        response = requests.get(base_url, params)
        json_response = response.json()
        state_data.loc[index, "Lat"] = json_response['results'][0]['geometry']['location']['lat']
        state_data.loc[index, "Lng"] = json_response['results'][0]['geometry']['location']['lng']
        print(state_data.loc[index, ["Lat", "Lng"]])

Lat    64.2008
Lng   -149.494
Name: AK, dtype: object
Lat    32.3182
Lng   -86.9023
Name: AL, dtype: object
Lat    35.2011
Lng   -91.8318
Name: AR, dtype: object
Lat    34.0489
Lng   -111.094
Name: AZ, dtype: object
Lat    36.7783
Lng   -119.418
Name: CA, dtype: object
Lat    39.5501
Lng   -105.782
Name: CO, dtype: object
Lat    41.6032
Lng   -73.0877
Name: CT, dtype: object
Lat    38.9072
Lng   -77.0369
Name: DC, dtype: object
Lat    38.9108
Lng   -75.5277
Name: DE, dtype: object
Lat    27.6648
Lng   -81.5158
Name: FL, dtype: object
Lat    32.1656
Lng   -82.9001
Name: GA, dtype: object
Lat    19.8968
Lng   -155.583
Name: HI, dtype: object
Lat     41.878
Lng   -93.0977
Name: IA, dtype: object
Lat    44.0682
Lng   -114.742
Name: ID, dtype: object
Lat    40.6331
Lng   -89.3985
Name: IL, dtype: object
Lat    40.2672
Lng   -86.1349
Name: IN, dtype: object
Lat    39.0119
Lng   -98.4842
Name: KS, dtype: object
Lat    37.8393
Lng     -84.27
Name: KY, dtype: object
Lat    30.9843
Lng   -91.9623
Name: LA, dtype: object
Lat    42.4072
Lng   -71.3824
Name: MA, dtype: object
Lat    39.0458
Lng   -76.6413
Name: MD, dtype: object
Lat    45.2538
Lng   -69.4455
Name: ME, dtype: object
Lat    44.3148
Lng   -85.6024
Name: MI, dtype: object
Lat    46.7296
Lng   -94.6859
Name: MN, dtype: object
Lat    37.9643
Lng   -91.8318
Name: MO, dtype: object
Lat    32.3547
Lng   -89.3985
Name: MS, dtype: object
Lat    46.8797
Lng   -110.363
Name: MT, dtype: object
Lat    35.7596
Lng   -79.0193
Name: NC, dtype: object
Lat    47.5515
Lng   -101.002
Name: ND, dtype: object
Lat    41.4925
Lng   -99.9018
Name: NE, dtype: object
Lat    43.1939
Lng   -71.5724
Name: NH, dtype: object
Lat    40.0583
Lng   -74.4057
Name: NJ, dtype: object
Lat    34.5199
Lng    -105.87
Name: NM, dtype: object
Lat    38.8026
Lng   -116.419
Name: NV, dtype: object
Lat    40.7128
Lng    -74.006
Name: NY, dtype: object
Lat    40.4173
Lng   -82.9071
Name: OH, dtype: object
Lat    35.0078
Lng   -97.0929
Name: OK, dtype: object
Lat    43.8041
Lng   -120.554
Name: OR, dtype: object
Lat    41.2033
Lng   -77.1945
Name: PA, dtype: object
Lat    41.5801
Lng   -71.4774
Name: RI, dtype: object
Lat    33.8361
Lng   -81.1637
Name: SC, dtype: object
Lat    43.9695
Lng   -99.9018
Name: SD, dtype: object
Lat    35.5175
Lng   -86.5804
Name: TN, dtype: object
Lat    31.9686
Lng   -99.9018
Name: TX, dtype: object
Lat     39.321
Lng   -111.094
Name: UT, dtype: object
Lat    37.4316
Lng   -78.6569
Name: VA, dtype: object
Lat    44.5588
Lng   -72.5778
Name: VT, dtype: object
Lat    47.7511
Lng    -120.74
Name: WA, dtype: object
Lat    43.7844
Lng   -88.7879
Name: WI, dtype: object
Lat    38.5976
Lng   -80.4549
Name: WV, dtype: object
Lat    43.076
Lng   -107.29
Name: WY, dtype: object

In [18]:
state_data.to_csv("Output/state_data.csv", index=True, header=True)

In [19]:
coordinates = state_data[["Lat", "Lng"]]
pct_increase_msr = state_data["%Increase/Decrease_MSR"] + 100

In [55]:
fig = gmaps.figure(map_type="HYBRID")

heat_layer = gmaps.heatmap_layer(coordinates, weights=pct_increase_msr, dissipating=False, opacity=1, max_intensity = max(state_data["%Increase/Decrease_MSR"] + 100), point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))